body{
   
    box-sizing: border-box;
    background: ghostwhite;
}
#first{
    width: 750px;
    height: 530px;
    margin-top: 150px;
    margin-left: 250px;
    border-top-style: solid;
    border-color: blue; 
   
    /*border-radius: 10px;*/
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

   h1{
    padding-left: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
   p{ 
    padding-left: 250px;
   }
   #second{
    padding-top: 20px;
    padding-left: 50px;
   }
  input[type="text"]{
    height: 20px;
    width: 300px;
  }
  input[placeholder="Email"]{
    margin-left: 40px;
  }
  input[placeholder="Subject"]{
    width: 650px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  textarea{
    width: 650px;
    height: 200px;
    
  }
  p{
    color:grey;
  }
  button{
    background-color: blue;
    width: 100px;
    height: 40px;
    color: white;
    margin-left: 320px;
    margin-top: 20px;;
  }
  button:active{
    background-color: antiquewhite;
  }